.readme{
	position: relative;
	background-color: var(--surfaceBorder);
	padding: 20px;
	border-radius: 10px;
	width: 800px;
	& *{
		margin: 0;
		line-height: 1;
		padding-bottom: 10px;
	}
	& h1:nth-child(2){
		padding-left:30px;
	}
	.githubLink{
		position: absolute;
		left: 20px;
		top: 27px;
		font-size: 20px;
		color: var(--orange);
		&:hover{
			color: var(--aqua);
		}
	}
}